body {
    width: 80%;
    margin: 0 auto;
    font-family: sans-serif;
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-content {
    flex-grow: 1;
}
header {
    margin: 20px 0 40px 0;
}
h1 {
    font-size: 64px;
    margin-bottom: 20px;
}
header a {
    color: #888888;
    margin-right: 20px;
    text-decoration: none;
}
footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin: 20px 0;
    padding-top: 20px;
}
img.portrait {
    width: 200px;
}
input {
    border: 1px solid #cccccc;
    padding: 8px;
}
button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: #cccccc;
    padding: 8px;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}